# Flutter/Dart related files
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
.macos/
.windows/
.vscode/
.cocoapods/
.flutter-plugins-dependencies

# iOS related files
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Debug.xcconfig
ios/Flutter/Release.xcconfig
ios/Flutter/Generated.xcconfig
ios/Flutter/GeneratedPluginRegistrant.*
ios/.symlinks/

# Android related files
android/.gradle/
android/app/build/
android/app/*.iml
android/app/.settings/
android/app/.gradle/
android/local.properties
android/.idea/
android/.settings/

# Generated Localization files
lib/l10n/*.arb

# IntelliJ related files
*.iml
.idea/
*.ipr
*.iws
*.iml

# VS Code related files
.vscode/

# macOS related files
macos/Flutter/ephemeral/
macos/Flutter/Flutter.podspec
macos/Flutter/GeneratedPluginRegistrant.*

# Web related files
web/.dart_tool/
web/.idea/
web/.pub-cache/
web/.dart_tool/
web/.packages

# Windows related files
windows/Flutter/ephemeral/
windows/.dart_tool/
windows/.packages

# Linux related files
linux/Flutter/ephemeral/
linux/.dart_tool/
linux/.packages

# Other files
.DS_Store
*.log
*.tmp
*.swp
*.lock

# FVM Version Cache
.fvm/